<div id="sidebar" class="sidebar hide_sidebar d-flex flex-column justify-content-between gap-1">
    <div class="sidebar_header">
        <!-- <div class="appLogo">
                    
        </div> -->
        <a href="#" class="d-flex gap-2">
            <img src="{{ url_for('static', filename='img/kamblok3.png') }}" alt="Kamblok" width="auto" height="25">
            <h4 class='mb-0'>kamblok</h4>
        </a>
    </div>
    <div id="sideBarScroll" class="sidebar_container flex-grow-1 d-flex flex-column my-2" style="overflow-y: auto;">
        <div class="d-flex flex-column justify-content-between gap-1">
            <a 
                class="btn btn-primary" 
                href="{{ url_for('user_conversation_routes.user_new_chat') }}"
            >New chat</a>

            <!-- <a href="{{ url_for('user_conversation_routes.user_new_chat') }}" class="sidebar_link">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2H5.414L2 14V2zm3 4a1 1 0 1 0 2 0 1 1 0 0 0-2 0zm4 0a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                </svg>
                <span>Prompt Text</span>
            </a> -->
        </div>
        <div id="addNewChat">
            <!-- Add your dynamic content here -->
        </div>
        <div id="chatHistory" class="">
            <div class="mt-4">Chat History</div>
            
        </div>

       

    
    </div>
    <div class="border-top"></div>
    <div class="sidebar_container mb-4 mt-1">
        <a href="/page/upgrade" class="sidebar_link">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                <path d="M2 2a1 1 0 0 1 1-1h4a1 1 0 0 1 .707.293l6.586 6.586a2 2 0 0 1 0 2.828l-4.586 4.586a2 2 0 0 1-2.828 0L2.293 8.707A1 1 0 0 1 2 8V2zm1 1v5.586l5.586 5.586a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414L7.414 3H3z"/>
            </svg>
            <span>Upgrade</span>
        </a>
    </div>
</div>

<!-- Sidebar Overlay -->
<div id="overlay" class="overlay" onclick="toggleMenu()"></div>