{% extends "auth_layout.html" %}

{% block title %}Kamblok - Login{% endblock %}

{% block content %}

    <!-- {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'danger' }} text-center" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %} -->

    <form method="POST">
        <div class="mb-3">
            <label for="identifier" class="form-label">Username or Email*</label>
            <input type="text" class="form-control" id="identifier" name="identifier" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password*</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        
        <div class="">
            <a href="{{ url_for('auth_email_reset.forget_password_page') }}">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="account-link">
        Don't have an account? 
        <a href="{{ url_for('auth.register_page') }}">Sign up</a>
    </div>

    <div class="separator">OR</div>

    <a href="{{ url_for('auth_google_routes.google_login') }}" class="social-btn">
        <img src="https://www.google.com/favicon.ico" alt="Google logo" class="social-logo">
        Continue with Google
    </a>

    <div class="footer-links">
        <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
    </div>
{% endblock %}